<footer class="site-footer">
    <div class="page-wrapper">
        <a class="footer-heading" href="/">Nickzone</a>

        <div class="site-navigation">
            <p>
                <strong>Site Map</strong>
            </p>
            <ul class="pages">
                <li class="nav-link">
                    <a href="/about/">About</a>
                </li>
                <li class="nav-link">
                    <a href="/projects/">Projects</a>

                </li>
                <li class="nav-link">
                    <a href="/posts/">Posts</a>
                </li>
            </ul>
        </div>

        <div class="site-contact">
            <p>
                <strong>Contact</strong>
            </p>
            <ul class="social-media-list">
                <li>
                    <a href="mailto:wtinyk@163.com">
                        <span class="username">wtinyk@163.com</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/nickzone">
                        <span class="username">https://github.com/nickzone</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>

</footer>