<header class="navigation">
    <div class="navigation-wrapper">
        <a href="/" class="logo">
            Nickzone's Blog
        </a>
        <nav role="navigation">
            <ul id="js-navigation-menu" class="navigation-menu">
                <li class="nav-link">
                    <a href="/about/">About</a>
                </li>
                <li class="nav-link">
                    <a href="/projects/">Projects</a>
                </li>
                <li class="nav-link">
                    <a href="/posts/">Posts</a>
                </li>
            </ul>
        </nav>
    </div>
</header>