<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nickzone's Blog</title>
    <link rel="stylesheet" href="{{site.url}}/assets/css/reset.css">
    <link rel="stylesheet" href="{{site.url}}/assets/css/main.css">
    <link rel="stylesheet" href="{{site.url}}/assets/css/markdown.css">
</head>
<body>
    {% include header.html %}
    {{content}}
    {% include footer.html %}
</body>
</html>